* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #6c0af5;
    color: #ffffff;
    font-size: 18px;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 10px;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    background-color: rgb(69, 1, 205);
    padding: 10px 0;
    z-index: 2;
}

header img {
    width: 90px;
    filter: hue-rotate(270deg);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    gap: 30px;
    z-index: 2;
    color: #fff;
}

section {
    background-image: linear-gradient(to bottom, #6f02ea, #000000fe);
    height: 100vh;
    position: relative;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .list {
    width: 70vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

section .list .item .car-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

section .list .item .car-img img {
    width: 100%;
    max-width: 500px;
    transform: rotate(-30deg);
}

.item:first-child .car-img {
    top: 60%;
    /* Mantido para mover a imagem da Ferrari para baixo */
    left: 0;
    /* Adicionado */
}

.arrows button {
    width: 100px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.car-img img {
    width: 200%;
    height: auto;
}

section .list .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

section .list .content .car-information {
    font-weight: bold;
    text-align: right;
}

section .list .content .car-information h2 {
    font-size: 8em;
    line-height: 1em;
}

section .list .content .car-information .description {
    color: #b4b4b4;
    font-size: 12px;
    max-width: 400px;
}

section .list .content .car-information .information {
    border-radius: 40px;

    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #7200d6;
    background-color: #beff1b;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

&::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 200%;
    border-top: 1px solid #ffffff;
}

.indicators {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.indicators .number {
    font-size: 3em;
}

.indicators ul {
    display: flex;
    gap: 10px;
}


.arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.arrows button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: all;
}

.arrows button i {
    font-size: 1.5rem;
    color: #000;
}

.arrow-left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.arrow-right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.arrows button:hover {
    background-color: #beff1b;
}

section {

    &.active {
        .list {
            .item {
                transform: translateX(100vw);
                transition: 0.5s;
                opacity: 0;

                .car-img {
                    img {
                        transform: rotate(0deg) scale(0.8);
                        transition: 0.5s;
                        transition-delay: 0.3s;

                    }
                }

                .content {

                    .car-information,
                    .h2,
                    .description,
                    .information {
                        transform: translateX(200px);
                        transition: 0.7s;
                        transition-delay: 0.3s;
                        opacity: 1;
                    }

                    .h2 {
                        transition-delay: 0.5s;
                    }

                    .description {
                        transition-delay: 0.7s;
                    }

                    .information {
                        transition-delay: 0.9s;
                    }
                }
            }

            .acttive {
                transform: translateX(0);
                transition: 0.5s;
                opacity: 1;

                .car-img {
                    img {
                        transform: rotate(-20deg);
                    }
                }

                .content {

                    .car-information,
                    .h2,
                    .description,
                    .information {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}